In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import cartopy.crs as ccrs
import cartopy.feature as cf
import numpy as np

import json
import seaborn as sns
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib 
import matplotlib.pyplot as plt
from matplotlib.colors import BoundaryNorm, ListedColormap
import matplotlib.patches as mpatches

In [2]:
df_shp = gpd.read_file('C:/Users/15311/Desktop/natural_earth_vector/10m_cultural/ne_10m_admin_0_countries.shp')

In [3]:
# We only care about the country sequence
file = open("C:/Users/15311/Desktop/comparison/Total_pop.json", "r")
population2 = file.read()
population2 = json.loads(population2)
Countries = list(population2.keys())
# population
file = open("C:/Users/15311/Desktop/new_results/Total_pop_newest.json", "r")
population = file.read()
population = json.loads(population)
population = {k: population[k] for k in Countries}

In [4]:
file = open("../2_Concentration_Factors/total_output.json", "r")
total_output = file.read()
total_output = json.loads(total_output)

file = open("../2_Concentration_Factors/final_demand.json", "r")
final_demand = file.read()
final_demand = json.loads(final_demand)

In [5]:
# per million USD
# EORA is in 1000 USD
for i in Countries:
    total_output[i] = total_output[i] * 1000 
    final_demand[i] = final_demand[i] * 1000

In [31]:
demand_capita = {}
for country in Countries:
    demand_capita[country] = final_demand[country] / population[country]

In [6]:
# total number of deaths caused by country i and happen in country j
file = open("con_mort_tol.json", "r")
con_mort_tol = file.read()
con_mort_tol = json.loads(con_mort_tol)

In [7]:
# total number of deaths caused by country i and happen in country j
file = open("pro_mort_tol.json", "r")
pro_mort_tol = file.read()
pro_mort_tol = json.loads(pro_mort_tol)

In [8]:
# Row sum: total deaths happen in that country
con_total = dict(pd.DataFrame(con_mort_tol).sum(axis = 1))
pro_total = dict(pd.DataFrame(pro_mort_tol).sum(axis = 1))

In [9]:
# Col sum: total deaths caused by that country
con_caused = dict(pd.DataFrame(con_mort_tol).sum(axis = 0))
pro_caused = dict(pd.DataFrame(pro_mort_tol).sum(axis = 0))

In [10]:
# total deaths happen in that country
con_dom_world = {}
for country in con_mort_tol:
    con_dom_world[country] = {}
    con_dom_world[country]['domestic'] = con_mort_tol[country][country]
    con_dom_world[country]['world'] = con_total[country]
    con_dom_world[country]['OtherPartofWorld'] = con_dom_world[country]['world'] - con_dom_world[country]['domestic']

In [11]:
# total deaths caused by that country
con_cause_dom_world = {}
for country in con_mort_tol:
    con_cause_dom_world[country] = {}
    con_cause_dom_world[country]['domestic'] = con_mort_tol[country][country]
    con_cause_dom_world[country]['world'] = con_caused[country]
    con_cause_dom_world[country]['OtherPartofWorld'] = con_cause_dom_world[country]['world'] - con_cause_dom_world[country]['domestic']

In [12]:
net_export_death = {}
export_of_death = {}
import_of_death = {}

for country in con_cause_dom_world:
    if country != 'ROW':
        net_export_death[country] = (con_cause_dom_world[country]['OtherPartofWorld'] - con_dom_world[country]['OtherPartofWorld'])
        export_of_death[country] = con_cause_dom_world[country]['OtherPartofWorld']# total deaths caused by that country
        import_of_death[country] = con_dom_world[country]['OtherPartofWorld']# total deaths happen in that country

In [14]:
colonizer = ['GBR','FRA','BEL','NLD','ITA','JPN','PRT','RUS','ESP','USA']

## Colonizer

In [16]:
dict(sorted(con_mort_tol['GBR'].items(), key=lambda item: item[1],reverse=True))

{'CHN': 8231.988622008006,
 'IND': 5293.372371616789,
 'GBR': 5215.494893154105,
 'DEU': 1750.203916583202,
 'NLD': 974.0369798073622,
 'RUS': 833.9774250250008,
 'VNM': 792.928685443512,
 'IDN': 655.5961817943017,
 'JPN': 579.5725215400003,
 'BGD': 575.350105097125,
 'POL': 567.8219821420049,
 'THA': 553.0107194314007,
 'USA': 545.4101331209455,
 'TUR': 518.8534046399917,
 'ITA': 495.88297327458673,
 'FRA': 480.38957011117685,
 'BRA': 444.63407080312635,
 'BEL': 425.79203758308216,
 'UKR': 419.10186647325605,
 'ESP': 386.18954911739013,
 'ROU': 383.1600449094492,
 'PAK': 302.5370634271203,
 'PHL': 295.1404826037922,
 'ZAF': 235.08831823224955,
 'MAR': 231.93060162647257,
 'TWN': 216.37357936238067,
 'EGY': 210.84955203206346,
 'MEX': 180.0407314741709,
 'ETH': 170.53707312342715,
 'CZE': 163.20297567302305,
 'LKA': 159.53743727624098,
 'COL': 159.5356570534817,
 'HUN': 147.63233284903893,
 'KOR': 147.31038633596626,
 'BGR': 133.4974236898631,
 'MYS': 128.54722578377113,
 'DNK': 128.41648915580956,
 'GRC': 114.46219320336006,
 'NPL': 105.4800017335732,
 'IRN': 104.89204442536919,
 'SRB': 98.9323328861812,
 'PRK': 90.85796699606438,
 'PER': 89.664923522979,
 'NGA': 88.18577325682148,
 'MMR': 87.04427333830195,
 'BLR': 81.48225701028734,
 'DZA': 80.13859136248473,
 'PRT': 74.12206248573982,
 'AGO': 74.02508717912922,
 'SYR': 73.22204602300404,
 'COD': 69.82647437743397,
 'AUT': 66.89997141979495,
 'SVK': 65.48283080484052,
 'HKG': 60.72781492260098,
 'ROW': 54.32760815925356,
 'CHL': 53.20819065841101,
 'KHM': 52.999884038643074,
 'IRQ': 44.97397468483779,
 'SAU': 44.72456879036282,
 'AUS': 42.27667715945454,
 'CAN': 42.181834797260514,
 'SWE': 40.41923051834527,
 'HRV': 40.36788444940057,
 'KAZ': 40.13651715501333,
 'AZE': 39.03762924638132,
 'HTI': 37.486986389300775,
 'MKD': 37.272847936782384,
 'UZB': 36.92481229352927,
 'LBN': 34.516671313524576,
 'TZA': 31.24469355662647,
 'TUN': 31.025515986732767,
 'ECU': 30.513390626424215,
 'ARG': 29.824726204378244,
 'UGA': 29.746658608228977,
 'VEN': 29.578885264279204,
 'CHE': 29.40991707706217,
 'ISR': 29.298096847178382,
 'KEN': 29.06080730121704,
 'CUB': 28.754198932505208,
 'GEO': 28.683488483785744,
 'MDA': 28.63128124653844,
 'IRL': 28.118496608180653,
 'AFG': 27.745974623550243,
 'JAM': 27.421534831439004,
 'BIH': 26.50478184386751,
 'YEM': 25.756931567887218,
 'GHA': 25.73492151224303,
 'SGP': 25.19969781209786,
 'GTM': 24.334468567153905,
 'DOM': 23.99177889725036,
 'SUD': 22.794986694055,
 'LTU': 21.410319652648084,
 'ARE': 18.26617515403224,
 'ALB': 17.160413563797828,
 'CMR': 16.64105936346241,
 'CRI': 15.940500424568276,
 'SVN': 15.85771850012706,
 'ZMB': 15.427492104294492,
 'ARM': 14.37395979169198,
 'LAO': 14.078475146312963,
 'TKM': 13.890732595472631,
 'SLV': 12.15892827160665,
 'PSE': 12.097580729475911,
 'MOZ': 11.112902227395931,
 'RWA': 10.778184808511295,
 'MUS': 10.651859301843396,
 'CIV': 10.35100760044098,
 'LVA': 10.288989070952175,
 'BEN': 10.002492372837825,
 'GIN': 9.914235682901507,
 'HND': 9.877923826131969,
 'NZL': 9.855204017198288,
 'JOR': 8.501072085774444,
 'MDG': 7.956125282558573,
 'TGO': 7.922271898842029,
 'TJK': 7.5358013612849355,
 'SDS': 7.329551367209047,
 'FIN': 7.293991425240778,
 'KGZ': 6.9897125254666115,
 'SEN': 6.973112125568295,
 'BFA': 6.955669616273092,
 'ZWE': 6.850672748590664,
 'BOL': 6.672050154229687,
 'MNE': 6.119908319931397,
 'LBY': 5.761712531574421,
 'BDI': 5.261541133444301,
 'MLI': 5.227333311680199,
 'NER': 5.07912584120054,
 'CYP': 5.026074066072029,
 'OMN': 4.928215979170503,
 'ERI': 4.87836021556634,
 'URY': 4.866981963997943,
 'PAN': 4.5187745922283735,
 'TCD': 4.508812561943653,
 'SLE': 4.47496064055638,
 'GAB': 4.343963652935267,
 'LUX': 4.339942954791339,
 'SWZ': 4.2859086292981985,
 'NIC': 4.080224060263872,
 'MAC': 4.033231053704013,
 'MWI': 3.7645585263284413,
 'LSO': 3.6204225844642886,
 'MNG': 3.468058977869361,
 'COG': 3.3934994744819202,
 'BWA': 3.0501301823316918,
 'EST': 2.990607637821849,
 'NOR': 2.7111514924544853,
 'CAF': 2.705954699890662,
 'KWT': 2.5533495099515684,
 'BTN': 2.4127482894870846,
 'SOM': 2.395514671459496,
 'MLT': 2.3174495647593587,
 'BHR': 2.298534702313023,
 'QAT': 1.7643667757443298,
 'NCL': 1.74729776277858,
 'BHS': 1.679991107348373,
 'NAM': 1.6263872602693403,
 'PRY': 1.565761699036875,
 'LBR': 1.4781264522736548,
 'GMB': 1.3496437011934164,
 'MRT': 1.3063169471167058,
 'MDV': 1.2632019509599806,
 'PNG': 0.9631884541450532,
 'TTO': 0.948483819141829,
 'DJI': 0.8104791760260449,
 'CPV': 0.6559161659109046,
 'MCO': 0.6354538168343863,
 'SUR': 0.5943955430069073,
 'BRB': 0.5454936538744698,
 'BRN': 0.32031634761215466,
 'STP': 0.22571058157557797,
 'AND': 0.19524358157909028,
 'CYM': 0.16957881959280405,
 'GUY': 0.13364210808361626,
 'LIE': 0.11970549664218062,
 'BLZ': 0.0873576902869936,
 'BMU': 0.07465285033587403,
 'SYC': 0.07114247658645087,
 'PYF': 0.04503462370334417,
 'SMR': 0.030978679944627826,
 'ABW': 0.02961589621070651,
 'ATG': 0.0,
 'VGB': 0.0,
 'FJI': 0.0,
 'GRL': 0.0,
 'ISL': 0.0,
 'WSM': 0.0,
 'VUT': 0.0}

In [15]:
print(sorted(con_mort_tol['GBR'].items(), key=lambda item: item[1],reverse=True)[:10])

[('CHN', 8231.988622008006), ('IND', 5293.372371616789), ('GBR', 5215.494893154105), ('DEU', 1750.203916583202), ('NLD', 974.0369798073622), ('RUS', 833.9774250250008), ('VNM', 792.928685443512), ('IDN', 655.5961817943017), ('JPN', 579.5725215400003), ('BGD', 575.350105097125)]

In [42]:
print(sorted(con_mort_tol['FRA'].items(), key=lambda item: item[1],reverse=True)[:10])

[('FRA', 7156.706060136159), ('CHN', 6393.172564622535), ('DEU', 3364.6677550177633), ('IND', 3169.906356937973), ('ITA', 1570.7453151510379), ('BEL', 1043.9176289064314), ('RUS', 972.7370139981333), ('ESP', 847.6713925831572), ('NLD', 722.9408245025901), ('POL', 685.5703960105972)]

In [43]:
print(sorted(con_mort_tol['BEL'].items(), key=lambda item: item[1],reverse=True)[:10])

[('CHN', 1762.7075407017999), ('DEU', 1622.4749660762102), ('BEL', 1187.2392970960555), ('IND', 914.2345568589177), ('NLD', 707.1603846547032), ('POL', 224.70710285774905), ('RUS', 205.5544670429974), ('ITA', 157.27671414723284), ('FRA', 156.25458926507034), ('VNM', 155.3165843816246)]

In [44]:
print(sorted(con_mort_tol['NLD'].items(), key=lambda item: item[1],reverse=True)[:10])

[('CHN', 2977.8011302882983), ('IND', 1413.9458855830353), ('NLD', 1180.4163353845524), ('DEU', 1156.8831340913753), ('RUS', 306.14221853768805), ('POL', 287.02941686654015), ('IDN', 254.65621128623926), ('VNM', 233.12086951878754), ('JPN', 207.74601503849738), ('THA', 188.8086016724495)]

In [45]:
print(sorted(con_mort_tol['ITA'].items(), key=lambda item: item[1],reverse=True)[:10])

[('ITA', 15540.470263865154), ('CHN', 4228.19701268005), ('IND', 2652.104352725032), ('DEU', 1074.3989524335534), ('RUS', 776.4829256035952), ('ROU', 766.5083124741919), ('TUR', 563.3631224101917), ('UKR', 548.0761931706609), ('POL', 508.27239582858334), ('ESP', 453.5352769221254)]

In [46]:
print(sorted(con_mort_tol['JPN'].items(), key=lambda item: item[1],reverse=True)[:10])

[('JPN', 67557.5300672536), ('CHN', 19674.351604599822), ('IND', 8602.89726525665), ('VNM', 2817.514241084012), ('IDN', 1669.3533685079096), ('THA', 1276.9749911743475), ('USA', 1077.854858291315), ('RUS', 1056.5832853508186), ('ROU', 1000.589696147845), ('BGD', 969.0374891406777)]

In [47]:
print(sorted(con_mort_tol['PRT'].items(), key=lambda item: item[1],reverse=True)[:10])

[('PRT', 1165.3099072616174), ('ESP', 547.5778427689529), ('CHN', 394.4153415859027), ('IND', 298.64661016903983), ('MAR', 143.27541819762584), ('DEU', 141.10505014404575), ('ITA', 119.97838800166821), ('RUS', 73.97429449889482), ('FRA', 56.268960483487874), ('BRA', 53.47859437521798)]

In [48]:
print(sorted(con_mort_tol['RUS'].items(), key=lambda item: item[1],reverse=True)[:10])

[('RUS', 34585.36239272052), ('CHN', 6791.086270558895), ('UKR', 3472.8863525725233), ('IND', 2064.506408975098), ('BLR', 763.3895609451033), ('KAZ', 615.1037681850381), ('ROU', 596.345076208425), ('TUR', 565.4619259191502), ('JPN', 560.2796343704372), ('UZB', 534.8238781944776)]

In [49]:
print(sorted(con_mort_tol['ESP'].items(), key=lambda item: item[1],reverse=True)[:10])

[('ESP', 10520.67439065634), ('CHN', 3719.636624431863), ('IND', 1963.0435040113987), ('ITA', 989.2213872884117), ('MAR', 716.8020662621597), ('DEU', 676.6320090868949), ('DZA', 503.88218708437154), ('RUS', 446.5372773684307), ('FRA', 346.61474677260884), ('IDN', 293.1202199840706)]

In [50]:
print(sorted(con_mort_tol['USA'].items(), key=lambda item: item[1],reverse=True)[:10])

[('USA', 67270.70390796567), ('CHN', 60142.41435188019), ('IND', 24212.714361282), ('MEX', 13449.914061937312), ('JPN', 6317.107482629432), ('BRA', 3599.9331885151014), ('THA', 3527.6056380281107), ('IDN', 3396.9294509123165), ('CAN', 3256.281231534317), ('BGD', 2935.2385610792785)]

In [51]:
print(sorted(con_mort_tol['SOM'].items(), key=lambda item: item[1],reverse=True)[:10])

[('IND', 321.7681249470302), ('SOM', 237.57407339563616), ('ETH', 136.51576977093444), ('CHN', 136.01005177362018), ('YEM', 66.67506942909039), ('BGD', 30.774064988911803), ('PAK', 25.002702189903477), ('KEN', 24.97826898034664), ('COD', 22.92010367640578), ('UGA', 22.697106028358768)]

In [53]:
print(sorted(con_mort_tol['VEN'].items(), key=lambda item: item[1],reverse=True)[:10])

[('VEN', 7030.370060950452), ('IND', 3571.950803029792), ('CHN', 2073.7209121957376), ('COL', 1418.7248104711887), ('BRA', 954.6276384938169), ('USA', 688.7925540732583), ('VNM', 667.6847664840209), ('MEX', 404.91613897447365), ('BGD', 309.21982907901014), ('ETH', 296.78767678329024)]

In [56]:
print(sorted(con_caused.items(), key=lambda item: item[1],reverse=True))

[('CHN', 1023410.8300149156), ('IND', 447292.39315022324), ('USA', 230725.6868888209), ('IDN', 157906.31059919845), ('JPN', 124004.26105568584), ('PAK', 87783.73607612518), ('BRA', 82021.9045648179), ('TUR', 68288.16525195864), ('MEX', 57977.52345105536), ('RUS', 57409.160475451565), ('DEU', 54643.412414784245), ('SAU', 44745.96469152097), ('PHL', 41877.58545621615), ('KOR', 37371.408311538384), ('FRA', 37021.31300551073), ('IRN', 36706.502161653974), ('GBR', 36313.59329906237), ('VNM', 36106.81529227816), ('ITA', 35994.983221057475), ('THA', 34822.9655826771), ('ZAF', 32576.605876753994), ('EGY', 30931.858901217372), ('NGA', 30521.008473950482), ('BGD', 26872.768407103238), ('ESP', 26748.846750739973), ('CAN', 24850.502326538903), ('POL', 23760.508905236453), ('VEN', 22806.732904879158), ('UKR', 18912.068214197105), ('COL', 18521.97817939888), ('TWN', 17793.67378754325), ('HKG', 17707.290075613622), ('ARE', 16559.000229438538), ('PER', 15466.530009340735), ('MYS', 15411.918726708724), ('SRB', 15227.378826755988), ('UZB', 15128.22252279125), ('ARG', 14712.631377739937), ('AUS', 14479.143529514282), ('MMR', 14344.843204979874), ('IRQ', 14311.041836132366), ('LKA', 12735.407345065772), ('NPL', 11990.53308960693), ('NLD', 11837.035770065553), ('KWT', 11558.025548549507), ('KAZ', 10278.423348540942), ('CHL', 10143.482015938678), ('MAR', 9846.831710589939), ('BEL', 9772.790045409472), ('SGP', 9319.36460568799), ('ROU', 8834.013024661426), ('LBN', 8574.841157593528), ('AGO', 8565.666872377478), ('CZE', 8432.80859456584), ('TZA', 8431.029332888073), ('DZA', 8171.042151280629), ('ISR', 7972.412427819007), ('CHE', 7834.875743751709), ('KEN', 7681.76660802078), ('GRC', 7232.825047387992), ('COD', 6914.581025905838), ('PRK', 6648.000677946352), ('TKM', 6405.797988220882), ('QAT', 6388.648472313582), ('GTM', 6213.49512083783), ('HTI', 6083.997087080577), ('SYR', 5943.574420606559), ('AUT', 5930.581851512698), ('DOM', 5914.567758457808), ('AFG', 5813.271342055705), ('SWE', 5493.770820969015), ('ECU', 5453.628583748874), ('OMN', 5136.7248543096475), ('BIH', 5014.074307649171), ('CUB', 4821.681204484145), ('IRL', 4317.552375694695), ('YEM', 4130.6880302018235), ('PRT', 4036.7522411258146), ('GHA', 3915.227731605584), ('NOR', 3659.751574704311), ('UGA', 3389.1813342588443), ('BLR', 3329.3418875796815), ('SUD', 3313.0014812103686), ('HUN', 3188.829556262948), ('ZMB', 3111.683736278885), ('DNK', 3066.379832278528), ('LBY', 2992.883673414236), ('BGR', 2927.6350185814363), ('SVK', 2683.40168081094), ('JOR', 2655.471889273486), ('MOZ', 2462.4938353439147), ('FIN', 2445.534931623836), ('AZE', 2420.1125366048936), ('ETH', 2248.737144652384), ('BOL', 2149.821748830952), ('MNG', 2138.226990593255), ('TUN', 2091.128584583871), ('KHM', 2061.5800643410116), ('NZL', 2004.5131999765183), ('CIV', 1862.4278888374233), ('LAO', 1837.4346083987693), ('CMR', 1833.8151202733043), ('URY', 1772.4929077300715), ('HRV', 1584.318451778305), ('MDG', 1521.6392205321167), ('SLV', 1487.28376765083), ('HND', 1464.7499069429316), ('MKD', 1451.676737146332), ('PRY', 1289.966555961776), ('CYP', 1287.108722780615), ('JAM', 1268.1412427983114), ('KGZ', 1256.4835281882467), ('TJK', 1215.9708882900777), ('BEN', 1215.2223043128972), ('BHR', 1209.4520037662458), ('SOM', 1199.9183481440743), ('ALB', 1197.9352008521641), ('ZWE', 1197.9298655378027), ('PAN', 1174.0260965985904), ('CRI', 1139.8026963082), ('LTU', 1134.0291675859894), ('RWA', 1092.2822816600396), ('GIN', 1047.6524519860156), ('SEN', 1032.3818774716024), ('GUY', 1026.9069133900264), ('COG', 1014.3631382229136), ('GEO', 993.1072572076971), ('TTO', 969.8031048911758), ('TGO', 965.1253415532485), ('SVN', 961.5144234610161), ('BDI', 928.3581974938509), ('MAC', 924.9952255471051), ('ARM', 809.3003083671696), ('MLI', 715.7878895782591), ('MWI', 698.100744635102), ('PNG', 670.0982889649334), ('MUS', 664.96024669709), ('MNE', 664.4510681831143), ('LVA', 657.6847698678745), ('NAM', 635.0562540723841), ('SLE', 624.7861188806555), ('BFA', 592.5999775998652), ('NIC', 589.6825056190148), ('PSE', 579.8883840418783), ('EST', 570.7290071370612), ('ERI', 557.985398141406), ('GAB', 551.8056282734844), ('LUX', 527.5177269910819), ('BWA', 513.4913212554112), ('TCD', 484.9934568937659), ('LBR', 479.2581037457008), ('BTN', 462.14238697232264), ('NER', 423.83986686242855), ('MRT', 354.2028841733996), ('MLT', 310.8969255095216), ('BHS', 309.0453764377787), ('MDV', 282.77086721661334), ('MCO', 271.7878841673938), ('LIE', 254.98732484605495), ('BRN', 252.8430618662964), ('ISL', 219.04149495045263), ('DJI', 214.7082343532499), ('CAF', 213.36228853632215), ('LSO', 194.27666455191735), ('SYC', 178.62906168345933), ('SWZ', 176.49241810412508), ('SDS', 172.89527649462175), ('NCL', 163.3500537214705), ('SUR', 126.85868726427839), ('MDA', 121.39906205998668), ('GMB', 102.56607821697192), ('BMU', 101.71425032909838), ('FJI', 94.18770304951812), ('BRB', 88.53923382171524), ('CPV', 79.07365447250615), ('SMR', 72.43597136046108), ('PYF', 71.36197998889595), ('CYM', 69.37515082301036), ('BLZ', 60.53385463079135), ('ABW', 51.18927300783276), ('AND', 50.27333120627216), ('ATG', 39.82212725228953), ('STP', 37.42131635133277), ('GRL', 33.56877303739941), ('WSM', 33.33155672813093), ('VUT', 32.5862412340666), ('VGB', 17.48091209960843), ('ROW', 0.0)]

In [84]:
con_caused_ranking = {key: rank for rank, key in enumerate(sorted(con_caused, key=con_caused.get, reverse=True), 1)}

In [85]:
con_caused_ranking['SOM']

116

In [57]:
print(sorted(final_demand.items(), key=lambda item: item[1],reverse=True))

[('USA', 19592997213328.26), ('CHN', 10863777758054.498), ('JPN', 4716597740307.834), ('DEU', 3172201307445.27), ('GBR', 2739457652435.5234), ('FRA', 2467952681649.7246), ('IND', 2166777604790.2478), ('ITA', 1786820714156.2637), ('BRA', 1773942574580.4377), ('CAN', 1569960117612.4033), ('KOR', 1384341868337.1418), ('AUS', 1279866792196.296), ('RUS', 1174920909704.3992), ('ESP', 1170233841099.5735), ('MEX', 1090579132593.8373), ('IDN', 926889215755.3431), ('TUR', 810738613971.6173), ('NLD', 694536358199.6514), ('SAU', 638018835685.4972), ('CHE', 586060417533.3551), ('ARG', 567804215737.0619), ('SWE', 491394904696.0987), ('BEL', 463422929039.09906), ('POL', 450016343332.3165), ('NGA', 405285393388.9089), ('IRN', 391201626432.0962), ('VEN', 387381027137.7141), ('AUT', 374564562614.2667), ('THA', 361847584574.7947), ('NOR', 358524039332.3348), ('PHL', 349103172521.0684), ('HKG', 318010351549.6425), ('ISR', 312756933258.7394), ('COL', 301922799724.9521), ('ZAF', 300108107361.7147), ('EGY', 291785055770.99884), ('DNK', 288806826278.5319), ('PAK', 288303490381.7909), ('MYS', 275582082251.335), ('ARE', 263465137586.76724), ('CHL', 246661427033.35635), ('FIN', 239237800701.14728), ('BGD', 229132394065.98605), ('SGP', 228504699834.66537), ('IRL', 226917650823.7391), ('TWN', 204673333535.9041), ('PRT', 199963168712.34967), ('VNM', 199528072175.20435), ('GRC', 192966386600.03085), ('DZA', 183376840567.49292), ('NZL', 183289510749.6947), ('ROU', 181800507592.45633), ('PER', 181299963765.0208), ('CZE', 162893938402.87225), ('IRQ', 146652335839.04083), ('QAT', 146120332974.1868), ('KAZ', 124862490230.92953), ('HUN', 114474322521.20682), ('MAR', 109314194007.26024), ('UKR', 100073901020.47127), ('KWT', 99818271112.54216), ('AGO', 97883607873.42432), ('ECU', 96688811012.05623), ('SUD', 87974384290.3812), ('LKA', 87247872555.99487), ('CUB', 86050202459.81522), ('SVK', 85754184211.28784), ('UZB', 75304730468.3166), ('GTM', 73117665971.1282), ('KEN', 72801471250.81758), ('DOM', 69797234361.06902), ('MMR', 69374946424.43222), ('OMN', 64926828138.465546), ('LBN', 58486105680.51894), ('PAN', 56582945582.94042), ('CRI', 55061557150.40954), ('GHA', 53846898718.10159), ('URY', 51943409392.89977), ('TZA', 50204638629.211525), ('HRV', 48272473513.39102), ('JOR', 48119823883.1434), ('BGR', 47548503851.55226), ('TUN', 45886418391.28328), ('LTU', 42746679416.132095), ('SRB', 40636441290.919426), ('SVN', 40504226555.53814), ('TKM', 40402265228.78), ('COD', 39436224103.04995), ('LUX', 38554368405.36774), ('BOL', 36567155263.50133), ('AZE', 35283748376.61104), ('PRY', 33919402220.048653), ('YEM', 31664818323.398823), ('CIV', 31181678423.809383), ('CMR', 30938063113.43513), ('BHR', 28990508691.642387), ('GUY', 28867441935.625797), ('MAC', 27666802768.425323), ('SLV', 27493879910.203323), ('NPL', 27066282499.8192), ('UGA', 27027814176.71659), ('LVA', 26783320266.68184), ('CYP', 26021351137.573494), ('BLR', 25347026495.710514), ('HND', 25131390621.470474), ('AFG', 24470517834.266975), ('EST', 22968037972.50879), ('TTO', 22658152372.447006), ('LBY', 22264899115.48369), ('ZMB', 22021205628.327152), ('SEN', 20906298828.020977), ('KHM', 20635439324.86054), ('PSE', 20300552276.194572), ('ETH', 19843291650.941845), ('ZWE', 19620512884.431007), ('BIH', 18481536090.433006), ('ISL', 17399848191.21717), ('GEO', 17314759006.31378), ('PNG', 17156828237.46074), ('PRK', 16924886004.382893), ('LAO', 16689619318.292816), ('MOZ', 16321360521.118511), ('JAM', 16208129150.036694), ('MLI', 16139237261.67673), ('NIC', 15225549643.669313), ('BWA', 14643660011.480177), ('SYR', 14367350769.748596), ('NAM', 13868504189.208042), ('ALB', 13468067027.287191), ('BFA', 13379662711.48516), ('MNG', 12035817636.552866), ('ARM', 11651546117.862736), ('BHS', 11289847300.756908), ('NER', 11230103594.09097), ('MUS', 11156822180.415552), ('GIN', 11086966976.596214), ('MDG', 10788464380.853464), ('MKD', 10749523467.438507), ('COG', 10640117102.611137), ('GAB', 10599981804.111639), ('TCD', 10278058819.175972), ('SDS', 10255647489.640903), ('RWA', 9801564669.983877), ('NCL', 9709134815.597652), ('MLT', 9564429573.161589), ('BRN', 9453401857.905352), ('HTI', 9296729489.656445), ('BEN', 9289752767.616447), ('KGZ', 9224953410.363132), ('TJK', 7601495736.717649), ('MCO', 6628646758.363334), ('MRT', 5982346814.403344), ('MWI', 5791870082.268638), ('PYF', 5515386331.644924), ('BMU', 5101454458.561828), ('ERI', 5019149032.949252), ('MNE', 5011593621.180992), ('SLE', 4925465337.151177), ('LIE', 4910558016.544179), ('TGO', 4905867364.789344), ('CYM', 4877382477.385685), ('BRB', 4451060078.709072), ('FJI', 4024750059.101806), ('SWZ', 3963608882.9517865), ('MDV', 3374814516.5576205), ('SUR', 3041924315.6268134), ('AND', 2857465806.3237715), ('LSO', 2620074307.8005114), ('BTN', 2517614226.880154), ('ABW', 2455684866.1012087), ('BDI', 2339158904.9250593), ('GRL', 2200413664.6419754), ('DJI', 2088224941.644833), ('CAF', 1861157551.3595932), ('BLZ', 1811057435.5331745), ('GMB', 1623605502.3545098), ('LBR', 1509432979.020723), ('SYC', 1362116118.1560407), ('CPV', 1289046866.4062788), ('ATG', 1211017603.080885), ('SOM', 1171462048.3841486), ('WSM', 905419025.6080061), ('SMR', 890122709.1656954), ('VGB', 650009971.2797413), ('VUT', 631055789.6363199), ('STP', 443544430.9214653), ('MDA', 178768257.72064072), ('ROW', 0.0)]

In [63]:
final_demand_ranking = {key: rank for rank, key in enumerate(sorted(final_demand, key=final_demand.get, reverse=True), 1)}

In [64]:
print('Country','Final demand ranking','Consumption deaths ranking')
for i in final_demand_ranking:
    print(i, final_demand_ranking[i],con_caused_ranking[i])

Country Final demand ranking Consumption deaths ranking
USA 1 3
CHN 2 1
JPN 3 5
DEU 4 11
GBR 5 17
FRA 6 15
IND 7 2
ITA 8 19
BRA 9 7
CAN 10 26
KOR 11 14
AUS 12 39
RUS 13 10
ESP 14 25
MEX 15 9
IDN 16 4
TUR 17 8
NLD 18 44
SAU 19 12
CHE 20 58
ARG 21 38
SWE 22 71
BEL 23 49
POL 24 27
NGA 25 23
IRN 26 16
VEN 27 28
AUT 28 68
THA 29 20
NOR 30 80
PHL 31 13
HKG 32 32
ISR 33 57
COL 34 30
ZAF 35 21
EGY 36 22
DNK 37 86
PAK 38 6
MYS 39 35
ARE 40 33
CHL 41 47
FIN 42 92
BGD 43 24
SGP 44 50
IRL 45 76
TWN 46 31
PRT 47 78
VNM 48 18
GRC 49 60
DZA 50 56
NZL 51 99
ROU 52 51
PER 53 34
CZE 54 54
IRQ 55 41
QAT 56 64
KAZ 57 46
HUN 58 84
MAR 59 48
UKR 60 29
KWT 61 45
AGO 62 53
ECU 63 72
SUD 64 83
LKA 65 42
CUB 66 75
SVK 67 89
UZB 68 37
GTM 69 65
KEN 70 59
DOM 71 69
MMR 72 40
OMN 73 73
LBN 74 52
PAN 75 119
CRI 76 120
GHA 77 79
URY 78 103
TZA 79 55
HRV 80 104
JOR 81 90
BGR 82 88
TUN 83 97
LTU 84 121
SRB 85 36
SVN 86 130
TKM 87 63
COD 88 61
LUX 89 148
BOL 90 95
AZE 91 93
PRY 92 109
YEM 93 77
CIV 94 100
CMR 95 102
BHR 96 115
GUY 97 125
MAC 98 132
SLV 99 106
NPL 100 43
UGA 101 81
LVA 102 139
CYP 103 110
BLR 104 82
HND 105 107
AFG 106 70
EST 107 145
TTO 108 128
LBY 109 87
ZMB 110 85
SEN 111 124
KHM 112 98
PSE 113 144
ETH 114 94
ZWE 115 118
BIH 116 74
ISL 117 161
GEO 118 127
PNG 119 136
PRK 120 62
LAO 121 101
MOZ 122 91
JAM 123 111
MLI 124 134
NIC 125 143
BWA 126 149
SYR 127 67
NAM 128 140
ALB 129 117
BFA 130 142
MNG 131 96
ARM 132 133
BHS 133 156
NER 134 153
MUS 135 137
GIN 136 123
MDG 137 105
MKD 138 108
COG 139 126
GAB 140 147
TCD 141 150
SDS 142 167
RWA 143 122
NCL 144 168
MLT 145 155
BRN 146 160
HTI 147 66
BEN 148 114
KGZ 149 112
TJK 150 113
MCO 151 158
MRT 152 154
MWI 153 135
PYF 154 177
BMU 155 172
ERI 156 146
MNE 157 138
SLE 158 141
LIE 159 159
TGO 160 129
CYM 161 178
BRB 162 174
FJI 163 173
SWZ 164 166
MDV 165 157
SUR 166 169
AND 167 181
LSO 168 164
BTN 169 152
ABW 170 180
BDI 171 131
GRL 172 184
DJI 173 162
CAF 174 163
BLZ 175 179
GMB 176 171
LBR 177 151
SYC 178 165
CPV 179 175
ATG 180 182
SOM 181 116
WSM 182 185
SMR 183 176
VGB 184 187
VUT 185 186
STP 186 183
MDA 187 170
ROW 188 188

### Final demand ranking > consumption-based deaths ranking

In [83]:
for i in final_demand_ranking:
    if (final_demand_ranking[i] - con_caused_ranking[i]) > 10:
        print(df_shp[df_shp['ADM0_A3']==i]['CONTINENT'].values[0], df_shp[df_shp['ADM0_A3']==i]['NAME'].values[0], final_demand_ranking[i],con_caused_ranking[i])

Asia Indonesia 16 4
Asia Philippines 31 13
Africa South Africa 35 21
Africa Egypt 36 22
Asia Pakistan 38 6
Asia Bangladesh 43 24
Asia Taiwan 46 31
Asia Vietnam 48 18
South America Peru 53 34
Asia Iraq 55 41
Asia Kazakhstan 57 46
Africa Morocco 59 48
Europe Ukraine 60 29
Asia Kuwait 61 45
Asia Sri Lanka 65 42
Asia Uzbekistan 68 37
Africa Kenya 70 59
Asia Myanmar 72 40
Asia Lebanon 74 52
Africa Tanzania 79 55
Europe Serbia 85 36
Asia Turkmenistan 87 63
Africa Dem. Rep. Congo 88 61
Asia Yemen 93 77
Asia Nepal 100 43
Africa Uganda 101 81
Europe Belarus 104 82
Asia Afghanistan 106 70
Africa Libya 109 87
Africa Zambia 110 85
Asia Cambodia 112 98
Africa Ethiopia 114 94
Europe Bosnia and Herz. 116 74
Asia North Korea 120 62
Asia Laos 121 101
Africa Mozambique 122 91
North America Jamaica 123 111
Asia Syria 127 67
Europe Albania 129 117
Asia Mongolia 131 96
Africa Guinea 136 123
Africa Madagascar 137 105
Europe Macedonia 138 108
Africa Congo 139 126
Africa Rwanda 143 122
North America Haiti 147 66
Africa Benin 148 114
Asia Kyrgyzstan 149 112
Asia Tajikistan 150 113
Africa Malawi 153 135
Europe Montenegro 157 138
Africa Sierra Leone 158 141
Africa Togo 160 129
Asia Bhutan 169 152
Africa Burundi 171 131
Africa Djibouti 173 162
Africa Central African Rep. 174 163
Africa Liberia 177 151
Seven seas (open ocean) Seychelles 178 165
Africa Somalia 181 116
Europe Moldova 187 170

### Consumption-based deaths ranking > final demand ranking

In [82]:
for i in final_demand_ranking:
    if (con_caused_ranking[i] - final_demand_ranking[i]) > 20:
        print(i, final_demand_ranking[i],con_caused_ranking[i])

AUS 12 39
NLD 18 44
CHE 20 58
SWE 22 71
BEL 23 49
AUT 28 68
NOR 30 80
ISR 33 57
DNK 37 86
FIN 42 92
IRL 45 76
PRT 47 78
NZL 51 99
HUN 58 84
SVK 67 89
PAN 75 119
CRI 76 120
URY 78 103
HRV 80 104
LTU 84 121
SVN 86 130
LUX 89 148
GUY 97 125
MAC 98 132
LVA 102 139
EST 107 145
PSE 113 144
ISL 117 161
BWA 126 149
BHS 133 156
SDS 142 167
NCL 144 168
PYF 154 177

# Countries causing more deaths in each foreign country than domestically.

In [44]:
df_final = pd.read_csv('map_continent_colony.csv')

In [45]:
df_final

,Unnamed: 0,ADM0_A3,NAME,net_export,population,final_demand,CONTINENT,CONTINENT_code,net_export_capita,Colony,Colony_code
0,0,AFG,Afghanistan,437.294550,3.056780e+07,2.447052e+10,Asia,1,0.000014,Z_Other,11
1,1,ALB,Albania,-94.854957,2.895460e+06,1.346807e+10,Europe,2,-0.000033,Z_Other,11
2,2,DZA,Algeria,3023.901587,4.414247e+07,1.833768e+11,Africa,0,0.000069,FRA_colony,3
3,3,AND,Andorra,42.552640,1.084263e+05,2.857466e+09,Europe,2,0.000392,Z_Other,11
4,4,AGO,Angola,-2665.487484,3.676776e+07,9.788361e+10,Africa,0,-0.000072,PRT_colony,8
...,...,...,...,...,...,...,...,...,...,...,...
182,182,VEN,Venezuela,14588.784775,3.229033e+07,3.873810e+11,South America,6,0.000452,Z_Other,11
183,183,VNM,Vietnam,-21990.234198,9.895143e+07,1.995281e+11,Asia,1,-0.000222,FRA_colony,3
184,184,YEM,Yemen,-156.568027,3.042738e+07,3.166482e+10,Asia,1,-0.000005,GBR_colony,4
185,185,ZMB,Zambia,188.927469,1.861695e+07,2.202121e+10,Africa,0,0.000010,GBR_colony,4
186,186,ZWE,Zimbabwe,162.216831,1.426931e+07,1.962051e+10,Africa,0,0.000011,GBR_colony,4

In [172]:
Country_dict = {} # Countries Causing More Deaths Abroad Than Domestically
for country in Countries[:-1]:
    deaths_dict = dict(sorted(con_mort_tol[country].items(), key=lambda item: item[1],reverse=True))
    for suffer_country in deaths_dict.keys():
        if suffer_country == country:
            break
        elif suffer_country != 'ROW':
            Country_dict[country] = Country_dict.get(country,[])
            Country_dict[country].append(suffer_country)

In [173]:
Country_num_dict = {} # the number of nations in which a country causes more deaths than within its domestic borders.
suffer_country_num_dict = {} # the frequency of each suffering country
for country in Country_dict:
    Country_num_dict[country] = len(Country_dict[country])
    for suffer_country in Country_dict[country]:
        suffer_country_num_dict[suffer_country] = suffer_country_num_dict.get(suffer_country, 0) + 1

In [174]:
Country_num_dict = dict(sorted(Country_num_dict.items(), key=lambda item: item[1],reverse=True))
suffer_country_num_dict = dict(sorted(suffer_country_num_dict.items(), key=lambda item: item[1],reverse=True))

In [175]:
Country_continent_dict = {}
Country_colony_dict = {}
Country_colony_dict2 = {}
for country in Country_dict:
    Country_continent_dict[country] = {}
    Country_colony_dict[country] = {}
    Country_colony_dict2[country] = {}
    
    for suffer_country in Country_dict[country]:
        suffer_continent = df_final[df_final['ADM0_A3']==suffer_country]['CONTINENT'].values[0]
        suffer_colony = df_final[df_final['ADM0_A3']==suffer_country]['Colony'].values[0]
        
        Country_continent_dict[country][suffer_continent] = Country_continent_dict[country].get(suffer_continent, 0) + 1
        Country_colony_dict[country][suffer_colony] = Country_colony_dict[country].get(suffer_colony, 0) + 1
        
        if suffer_colony[0] == 'A':
            Country_colony_dict2[country]['Colonizer'] = Country_colony_dict2[country].get('Colonizer', 0) + 1
        elif suffer_colony[0] == 'Z':
            Country_colony_dict2[country]['Other'] = Country_colony_dict2[country].get('Other', 0) + 1
        else:
            Country_colony_dict2[country]['Colony'] = Country_colony_dict2[country].get('Colony', 0) + 1

In [176]:
Country_df_dict = {}
for country in Country_num_dict:
    Country_df_dict[country] = {}
    
    country_name = df_final[df_final['ADM0_A3']==country]['NAME'].values[0]
    continent = df_final[df_final['ADM0_A3']==country]['CONTINENT'].values[0]
    colony =  df_final[df_final['ADM0_A3']==country]['Colony'].values[0]
    num_suffer = Country_num_dict[country]
    Country_df_dict[country]['country_name'] = country_name
    Country_df_dict[country]['continent'] = continent
    Country_df_dict[country]['colony'] = colony
    Country_df_dict[country]['num_suffer'] = num_suffer
    
    # CONTINENT
    Country_df_dict[country]['num_suffer_Asia'] = [Country_continent_dict[country]['Asia'] if 'Asia' in Country_continent_dict[country].keys() else 0][0]
    Country_df_dict[country]['num_suffer_Africa'] = [Country_continent_dict[country]['Africa'] if 'Africa' in Country_continent_dict[country].keys() else 0][0]
    Country_df_dict[country]['num_suffer_Europe'] = [Country_continent_dict[country]['Europe'] if 'Europe' in Country_continent_dict[country].keys() else 0][0]
    Country_df_dict[country]['num_suffer_Oceania'] = [Country_continent_dict[country]['Oceania'] if 'Oceania' in Country_continent_dict[country].keys() else 0][0]
    Country_df_dict[country]['num_suffer_North_America'] = [Country_continent_dict[country]['North America'] if 'North America' in Country_continent_dict[country].keys() else 0][0]
    Country_df_dict[country]['num_suffer_South_America'] = [Country_continent_dict[country]['South America'] if 'South America' in Country_continent_dict[country].keys() else 0][0]

    # Colony
    Country_df_dict[country]['num_suffer_colony'] = [Country_colony_dict2[country]['Colony'] if 'Colony' in Country_colony_dict2[country].keys() else 0][0]
    Country_df_dict[country]['num_suffer_colonizer'] = [Country_colony_dict2[country]['Colonizer'] if 'Colonizer' in Country_colony_dict2[country].keys() else 0][0]
    Country_df_dict[country]['num_suffer_other'] = [Country_colony_dict2[country]['Other'] if 'Other' in Country_colony_dict2[country].keys() else 0][0]
#     print('Country Name:',country_name,' ','Continent:', continent, ' ',
#          'Colony status:', colony,' ','Number of suffering countries', num_suffer)

In [177]:
Country_df = pd.DataFrame(Country_df_dict).T

In [178]:
Country_df.head(10)

,country_name,continent,colony,num_suffer,num_suffer_Asia,num_suffer_Africa,num_suffer_Europe,num_suffer_Oceania,num_suffer_North_America,num_suffer_South_America,num_suffer_colony,num_suffer_colonizer,num_suffer_other
VUT,Vanuatu,Oceania,GBR_colony,186,49,49,43,7,23,12,95,10,81
WSM,Samoa,Oceania,Z_Other,185,49,49,43,6,23,12,95,10,80
ISL,Iceland,Europe,Z_Other,184,49,49,42,6,23,12,95,10,79
GRL,Greenland,North America,Z_Other,183,49,49,42,6,22,12,95,10,78
FJI,Fiji,Oceania,GBR_colony,182,49,49,42,5,22,12,94,10,78
VGB,British Virgin Is.,North America,Z_Other,181,49,49,42,5,21,12,94,10,77
ATG,Antigua and Barb.,North America,GBR_colony,180,49,49,42,5,20,12,93,10,77
BMU,Bermuda,North America,Z_Other,174,49,49,39,4,18,12,93,10,71
SMR,San Marino,Europe,Z_Other,170,49,49,39,4,16,11,90,10,70
ABW,Aruba,North America,Z_Other,162,46,48,36,3,16,11,87,10,65

In [244]:
len(Country_df)

81

### 53% of the former colonies of Great Britain will contribute to more deaths in other countries than domestically.

In [225]:
for colony in dict(Country_df.colony.value_counts()):
    fraction = dict(Country_df.colony.value_counts())[colony]/len(df_final[df_final['Colony']==colony])
    print(colony, fraction)

Z_Other 0.49382716049382713
GBR_colony 0.5348837209302325
RUS_colony 0.46153846153846156
ITA_colony 1.0
A_Colonizer 0.3
FRA_colony 0.13636363636363635
PRT_colony 0.5
NLD_colony 0.5

### 58% European countries and 87.5% Oceania countries will contribute to more deaths in other countries than domestically.

In [227]:
for continent in dict(Country_df.continent.value_counts()):
    fraction = dict(Country_df.continent.value_counts())[continent]/len(df_final[df_final['CONTINENT']==continent])
    print(continent, fraction)

Europe 0.5813953488372093
Asia 0.46938775510204084
Africa 0.24489795918367346
North America 0.43478260869565216
Oceania 0.875
South America 0.16666666666666666
Other 0.6666666666666666

In [231]:
# dict(Country_df.continent.value_counts())

### All countries, except for Vanuatu, have experienced being a suffering country at least once.

In [179]:
suffer_country_df_dict = {}
for suffer_country in suffer_country_num_dict:
    suffer_country_df_dict[suffer_country] = {}
    
    country_name = df_final[df_final['ADM0_A3']==suffer_country]['NAME'].values[0]
    continent = df_final[df_final['ADM0_A3']==suffer_country]['CONTINENT'].values[0]
    colony =  df_final[df_final['ADM0_A3']==suffer_country]['Colony'].values[0]
    
    suffer_country_df_dict[suffer_country]['country_name'] = country_name
    suffer_country_df_dict[suffer_country]['continent'] = continent
    suffer_country_df_dict[suffer_country]['colony'] = colony
    suffer_country_df_dict[suffer_country]['suffer_times'] = suffer_country_num_dict[suffer_country]

In [232]:
for country in Countries:
    if country not in suffer_country_df_dict:
        print(country)

VUT
ROW

In [180]:
suffer_country_df = pd.DataFrame(suffer_country_df_dict).T

In [181]:
suffer_country_df.head(10)

    country_name continent       colony suffer_times
CHN        China      Asia      Z_Other           74
IND        India      Asia   PRT_colony           60
RUS       Russia    Europe  A_Colonizer           31
IDN    Indonesia      Asia   NLD_colony           30
BGD   Bangladesh      Asia   GBR_colony           28
VNM      Vietnam      Asia   FRA_colony           27
THA     Thailand      Asia      Z_Other           27
PAK     Pakistan      Asia   GBR_colony           25
ROU      Romania    Europe      Z_Other           25
JPN        Japan      Asia  A_Colonizer           24

In [228]:
# suffer_country_df.colony.value_counts()

In [234]:
# for colony in dict(suffer_country_df.colony.value_counts()):
#     fraction = dict(suffer_country_df.colony.value_counts())[colony]/len(df_final[df_final['Colony']==colony])
#     print(colony, fraction)

In [233]:
# suffer_country_df.continent.value_counts()

## Countries causing more deaths in each foreign country than domestically, where the former's per capita demand is 1.5 times or greater than that of the latter's.

In [182]:
Country_dict50 = {}
for country in Countries[:-1]:
    deaths_dict = dict(sorted(con_mort_tol[country].items(), key=lambda item: item[1],reverse=True))
    for suffer_country in deaths_dict.keys():
        if suffer_country == country:
            break
        elif demand_capita[country] >= 1.5 * demand_capita[suffer_country] and  suffer_country != 'ROW':
            Country_dict50[country] = Country_dict50.get(country,[])
            Country_dict50[country].append(suffer_country)

In [183]:
Country_num_dict50 = {} # the number of nations in which a country causes more deaths than within its domestic borders.
suffer_country_num_dict50 = {} # the frequency of each suffering country
for country in Country_dict50:
    Country_num_dict50[country] = len(Country_dict50[country])
    for suffer_country in Country_dict50[country]:
        suffer_country_num_dict50[suffer_country] = suffer_country_num_dict50.get(suffer_country, 0) + 1

Country_num_dict50 = dict(sorted(Country_num_dict50.items(), key=lambda item: item[1],reverse=True))
suffer_country_num_dict50 = dict(sorted(suffer_country_num_dict50.items(), key=lambda item: item[1],reverse=True))

In [184]:
Country_continent_dict50 = {}
Country_colony_dict50 = {}
Country_colony_dict502 = {}
for country in Country_dict50:
    
    Country_continent_dict50[country] = {}
    Country_colony_dict50[country] = {}
    Country_colony_dict502[country] = {}
    
    for suffer_country in Country_dict50[country]:
        suffer_continent = df_final[df_final['ADM0_A3']==suffer_country]['CONTINENT'].values[0]
        suffer_colony = df_final[df_final['ADM0_A3']==suffer_country]['Colony'].values[0]
        
        Country_continent_dict50[country][suffer_continent] = Country_continent_dict50[country].get(suffer_continent, 0) + 1
        Country_colony_dict50[country][suffer_colony] = Country_colony_dict50[country].get(suffer_colony, 0) + 1
        
        if suffer_colony[0] == 'A':
            Country_colony_dict502[country]['Colonizer'] = Country_colony_dict502[country].get('Colonizer', 0) + 1
        elif suffer_colony[0] == 'Z':
            Country_colony_dict502[country]['Other'] = Country_colony_dict502[country].get('Other', 0) + 1
        else:
            Country_colony_dict502[country]['Colony'] = Country_colony_dict502[country].get('Colony', 0) + 1

In [185]:
Country_df_dict50 = {}
for country in Country_num_dict50:
    Country_df_dict50[country] = {}
    
    country_name = df_final[df_final['ADM0_A3']==country]['NAME'].values[0]
    continent = df_final[df_final['ADM0_A3']==country]['CONTINENT'].values[0]
    colony =  df_final[df_final['ADM0_A3']==country]['Colony'].values[0]
    num_suffer = Country_num_dict50[country]
    Country_df_dict50[country]['country_name'] = country_name
    Country_df_dict50[country]['continent'] = continent
    Country_df_dict50[country]['colony'] = colony
    Country_df_dict50[country]['num_suffer'] = num_suffer
    
    # CONTINENT
    Country_df_dict50[country]['num_suffer_Asia'] = [Country_continent_dict50[country]['Asia'] if 'Asia' in Country_continent_dict50[country].keys() else 0][0]
    Country_df_dict50[country]['num_suffer_Africa'] = [Country_continent_dict50[country]['Africa'] if 'Africa' in Country_continent_dict50[country].keys() else 0][0]
    Country_df_dict50[country]['num_suffer_Europe'] = [Country_continent_dict50[country]['Europe'] if 'Europe' in Country_continent_dict50[country].keys() else 0][0]
    Country_df_dict50[country]['num_suffer_Oceania'] = [Country_continent_dict50[country]['Oceania'] if 'Oceania' in Country_continent_dict50[country].keys() else 0][0]
    Country_df_dict50[country]['num_suffer_North_America'] = [Country_continent_dict50[country]['North America'] if 'North America' in Country_continent_dict50[country].keys() else 0][0]
    Country_df_dict50[country]['num_suffer_South_America'] = [Country_continent_dict50[country]['South America'] if 'South America' in Country_continent_dict50[country].keys() else 0][0]

    # Colony
    Country_df_dict50[country]['num_suffer_colony'] = [Country_colony_dict502[country]['Colony'] if 'Colony' in Country_colony_dict502[country].keys() else 0][0]
    Country_df_dict50[country]['num_suffer_colonizer'] = [Country_colony_dict502[country]['Colonizer'] if 'Colonizer' in Country_colony_dict502[country].keys() else 0][0]
    Country_df_dict50[country]['num_suffer_other'] = [Country_colony_dict502[country]['Other'] if 'Other' in Country_colony_dict502[country].keys() else 0][0]
#     print('Country Name:',country_name,' ','Continent:', continent, ' ',
#          'Colony status:', colony,' ','Number of suffering countries', num_suffer)
Country_df_50 = pd.DataFrame(Country_df_dict50).T

In [187]:
Country_df_50.head(10)

,country_name,continent,colony,num_suffer,num_suffer_Asia,num_suffer_Africa,num_suffer_Europe,num_suffer_Oceania,num_suffer_North_America,num_suffer_South_America,num_suffer_colony,num_suffer_colonizer,num_suffer_other
SMR,San Marino,Europe,Z_Other,169,49,49,38,4,16,11,90,10,69
BMU,Bermuda,North America,Z_Other,165,48,49,35,2,16,12,92,9,64
ABW,Aruba,North America,Z_Other,158,46,48,35,1,15,11,87,9,62
LIE,Liechtenstein,Europe,Z_Other,155,44,47,35,4,13,10,79,10,66
CYM,Cayman Is.,North America,Z_Other,153,44,48,32,2,15,10,84,9,60
ISL,Iceland,Europe,Z_Other,152,44,49,26,2,17,11,90,4,58
FJI,Fiji,Oceania,GBR_colony,146,41,49,24,2,16,11,86,3,57
GRL,Greenland,North America,Z_Other,146,41,49,24,2,16,11,86,3,57
ATG,Antigua and Barb.,North America,GBR_colony,110,33,49,10,1,10,6,72,0,38
VGB,British Virgin Is.,North America,Z_Other,87,26,46,4,1,6,4,65,0,22

In [245]:
len(Country_df_50)

64

In [235]:
for colony in dict(Country_df_50.colony.value_counts()):
    fraction = dict(Country_df_50.colony.value_counts())[colony]/len(df_final[df_final['Colony']==colony])
    print(colony, fraction)

Z_Other 0.4074074074074074
GBR_colony 0.4883720930232558
RUS_colony 0.23076923076923078
A_Colonizer 0.3
ITA_colony 0.6666666666666666
PRT_colony 0.25
FRA_colony 0.045454545454545456

In [236]:
# Country_df_50.colony.value_counts()

In [237]:
for continent in dict(Country_df_50.continent.value_counts()):
    fraction = dict(Country_df_50.continent.value_counts())[continent]/len(df_final[df_final['CONTINENT']==continent])
    print(continent, fraction)

Europe 0.5348837209302325
Asia 0.32653061224489793
North America 0.43478260869565216
Africa 0.12244897959183673
Oceania 0.75
Other 0.6666666666666666
South America 0.08333333333333333

In [238]:
# Country_df_50.continent.value_counts()

In [188]:
suffer_country_df_dict50 = {}
for suffer_country in suffer_country_num_dict50:
    suffer_country_df_dict50[suffer_country] = {}
    
    country_name = df_final[df_final['ADM0_A3']==suffer_country]['NAME'].values[0]
    continent = df_final[df_final['ADM0_A3']==suffer_country]['CONTINENT'].values[0]
    colony =  df_final[df_final['ADM0_A3']==suffer_country]['Colony'].values[0]
    
    suffer_country_df_dict50[suffer_country]['country_name'] = country_name
    suffer_country_df_dict50[suffer_country]['continent'] = continent
    suffer_country_df_dict50[suffer_country]['colony'] = colony
    suffer_country_df_dict50[suffer_country]['suffer_times'] = suffer_country_num_dict50[suffer_country]
    
suffer_country_df50 = pd.DataFrame(suffer_country_df_dict50).T

In [189]:
suffer_country_df50.head(10)

    country_name continent       colony suffer_times
IND        India      Asia   PRT_colony           49
CHN        China      Asia      Z_Other           46
BGD   Bangladesh      Asia   GBR_colony           27
IDN    Indonesia      Asia   NLD_colony           26
VNM      Vietnam      Asia   FRA_colony           24
RUS       Russia    Europe  A_Colonizer           24
PAK     Pakistan      Asia   GBR_colony           24
THA     Thailand      Asia      Z_Other           22
ETH     Ethiopia    Africa      Z_Other           21
ROU      Romania    Europe      Z_Other           19

In [240]:
len(suffer_country_df50)

175

## Countries causing more deaths than domestically in nations with less than half their per capita demand

In [201]:
Country_dict100 = {}
for country in Countries[:-1]:
    deaths_dict = dict(sorted(con_mort_tol[country].items(), key=lambda item: item[1],reverse=True))
    for suffer_country in deaths_dict.keys():
        if suffer_country == country:
            break
        elif demand_capita[country] >= 2 * demand_capita[suffer_country] and  suffer_country != 'ROW':
            Country_dict100[country] = Country_dict100.get(country,[])
            Country_dict100[country].append(suffer_country)

In [202]:
Country_num_dict100 = {} # the number of nations in which a country causes more deaths than within its domestic borders.
suffer_country_num_dict100 = {} # the frequency of each suffering country
for country in Country_dict100:
    Country_num_dict100[country] = len(Country_dict100[country])
    for suffer_country in Country_dict100[country]:
        suffer_country_num_dict100[suffer_country] = suffer_country_num_dict100.get(suffer_country, 0) + 1

Country_num_dict100 = dict(sorted(Country_num_dict100.items(), key=lambda item: item[1],reverse=True))
suffer_country_num_dict100 = dict(sorted(suffer_country_num_dict100.items(), key=lambda item: item[1],reverse=True))

In [203]:
Country_continent_dict100 = {}
Country_colony_dict100 = {}
Country_colony_dict1002 = {}
for country in Country_dict100:
    
    Country_continent_dict100[country] = {}
    Country_colony_dict100[country] = {}
    Country_colony_dict1002[country] = {}
    
    for suffer_country in Country_dict100[country]:
        suffer_continent = df_final[df_final['ADM0_A3']==suffer_country]['CONTINENT'].values[0]
        suffer_colony = df_final[df_final['ADM0_A3']==suffer_country]['Colony'].values[0]
        
        Country_continent_dict100[country][suffer_continent] = Country_continent_dict100[country].get(suffer_continent, 0) + 1
        Country_colony_dict100[country][suffer_colony] = Country_colony_dict100[country].get(suffer_colony, 0) + 1
        
        if suffer_colony[0] == 'A':
            Country_colony_dict1002[country]['Colonizer'] = Country_colony_dict1002[country].get('Colonizer', 0) + 1
        elif suffer_colony[0] == 'Z':
            Country_colony_dict1002[country]['Other'] = Country_colony_dict1002[country].get('Other', 0) + 1
        else:
            Country_colony_dict1002[country]['Colony'] = Country_colony_dict1002[country].get('Colony', 0) + 1

In [204]:
Country_df_dict100 = {}
for country in Country_num_dict100:
    Country_df_dict100[country] = {}
    
    country_name = df_final[df_final['ADM0_A3']==country]['NAME'].values[0]
    continent = df_final[df_final['ADM0_A3']==country]['CONTINENT'].values[0]
    colony =  df_final[df_final['ADM0_A3']==country]['Colony'].values[0]
    num_suffer = Country_num_dict100[country]
    Country_df_dict100[country]['country_name'] = country_name
    Country_df_dict100[country]['continent'] = continent
    Country_df_dict100[country]['colony'] = colony
    Country_df_dict100[country]['num_suffer'] = num_suffer
    
    # CONTINENT
    Country_df_dict100[country]['num_suffer_Asia'] = [Country_continent_dict100[country]['Asia'] if 'Asia' in Country_continent_dict100[country].keys() else 0][0]
    Country_df_dict100[country]['num_suffer_Africa'] = [Country_continent_dict100[country]['Africa'] if 'Africa' in Country_continent_dict100[country].keys() else 0][0]
    Country_df_dict100[country]['num_suffer_Europe'] = [Country_continent_dict100[country]['Europe'] if 'Europe' in Country_continent_dict100[country].keys() else 0][0]
    Country_df_dict100[country]['num_suffer_Oceania'] = [Country_continent_dict100[country]['Oceania'] if 'Oceania' in Country_continent_dict100[country].keys() else 0][0]
    Country_df_dict100[country]['num_suffer_North_America'] = [Country_continent_dict100[country]['North America'] if 'North America' in Country_continent_dict100[country].keys() else 0][0]
    Country_df_dict100[country]['num_suffer_South_America'] = [Country_continent_dict100[country]['South America'] if 'South America' in Country_continent_dict100[country].keys() else 0][0]

    # Colony
    Country_df_dict100[country]['num_suffer_colony'] = [Country_colony_dict1002[country]['Colony'] if 'Colony' in Country_colony_dict1002[country].keys() else 0][0]
    Country_df_dict100[country]['num_suffer_colonizer'] = [Country_colony_dict1002[country]['Colonizer'] if 'Colonizer' in Country_colony_dict1002[country].keys() else 0][0]
    Country_df_dict100[country]['num_suffer_other'] = [Country_colony_dict1002[country]['Other'] if 'Other' in Country_colony_dict1002[country].keys() else 0][0]
#     print('Country Name:',country_name,' ','Continent:', continent, ' ',
#          'Colony status:', colony,' ','Number of suffering countries', num_suffer)
Country_df_100 = pd.DataFrame(Country_df_dict100).T

In [205]:
Country_df_100.head(10)

,country_name,continent,colony,num_suffer,num_suffer_Asia,num_suffer_Africa,num_suffer_Europe,num_suffer_Oceania,num_suffer_North_America,num_suffer_South_America,num_suffer_colony,num_suffer_colonizer,num_suffer_other
SMR,San Marino,Europe,Z_Other,169,49,49,38,4,16,11,90,10,69
LIE,Liechtenstein,Europe,Z_Other,155,44,47,35,4,13,10,79,10,66
BMU,Bermuda,North America,Z_Other,153,46,49,26,2,15,12,90,6,57
ABW,Aruba,North America,Z_Other,146,43,48,27,1,14,11,84,7,55
ISL,Iceland,Europe,Z_Other,146,41,49,24,2,16,11,86,3,57
CYM,Cayman Is.,North America,Z_Other,141,41,48,25,1,14,10,83,4,54
FJI,Fiji,Oceania,GBR_colony,141,38,49,22,2,16,11,82,2,57
GRL,Greenland,North America,Z_Other,141,38,49,22,2,16,11,82,2,57
ATG,Antigua and Barb.,North America,GBR_colony,101,29,48,8,1,8,6,68,0,33
VGB,British Virgin Is.,North America,Z_Other,72,21,43,3,1,3,1,56,0,16

In [239]:
for colony in dict(Country_df_100.colony.value_counts()):
    fraction = dict(Country_df_100.colony.value_counts())[colony]/len(df_final[df_final['Colony']==colony])
    print(colony, fraction)

Z_Other 0.3950617283950617
GBR_colony 0.4883720930232558
RUS_colony 0.23076923076923078
A_Colonizer 0.3
ITA_colony 0.6666666666666666
PRT_colony 0.25
FRA_colony 0.045454545454545456

In [243]:
for continent in dict(Country_df_100.continent.value_counts()):
    fraction = dict(Country_df_100.continent.value_counts())[continent]/len(df_final[df_final['CONTINENT']==continent])
    print(continent, fraction)

Europe 0.5116279069767442
Asia 0.32653061224489793
North America 0.43478260869565216
Africa 0.12244897959183673
Oceania 0.75
Other 0.6666666666666666
South America 0.08333333333333333

In [206]:
suffer_country_df_dict100 = {}
for suffer_country in suffer_country_num_dict100:
    suffer_country_df_dict100[suffer_country] = {}
    
    country_name = df_final[df_final['ADM0_A3']==suffer_country]['NAME'].values[0]
    continent = df_final[df_final['ADM0_A3']==suffer_country]['CONTINENT'].values[0]
    colony =  df_final[df_final['ADM0_A3']==suffer_country]['Colony'].values[0]
    
    suffer_country_df_dict100[suffer_country]['country_name'] = country_name
    suffer_country_df_dict100[suffer_country]['continent'] = continent
    suffer_country_df_dict100[suffer_country]['colony'] = colony
    suffer_country_df_dict100[suffer_country]['suffer_times'] = suffer_country_num_dict100[suffer_country]
    
suffer_country_df100 = pd.DataFrame(suffer_country_df_dict100).T

In [207]:
suffer_country_df100.head(10)

    country_name continent       colony suffer_times
IND        India      Asia   PRT_colony           48
CHN        China      Asia      Z_Other           42
BGD   Bangladesh      Asia   GBR_colony           26
IDN    Indonesia      Asia   NLD_colony           25
VNM      Vietnam      Asia   FRA_colony           23
PAK     Pakistan      Asia   GBR_colony           23
THA     Thailand      Asia      Z_Other           22
ETH     Ethiopia    Africa      Z_Other           21
RUS       Russia    Europe  A_Colonizer           20
ROU      Romania    Europe      Z_Other           19

In [242]:
len(suffer_country_df100)

175

In [41]:
file=open("Country_dict.json",'w')
json.dump(Country_dict,file)
file.close()

In [42]:
file=open("Country_dict50.json",'w')
json.dump(Country_dict50,file)
file.close()

In [43]:
file=open("Country_dict100.json",'w')
json.dump(Country_dict100,file)
file.close()